* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas', monospace;
    background-color: #b7b7b7;
}

nav {
    background-color: #dfdfdf;
    padding: 15px;
    margin-bottom: 5px;
}

a.link {
    margin: 0px 7em;
    font-size: 1.3em;
    color: #ff1111;
}

h1#title {
    color: #000000;
}

section.text {
    background-color: #7777773f;
    padding: 12px;
    width: 25%;
}

section#section01 {
    margin: 25px 0px 0px 65px;
}

section#section02 {
    margin: 25px 0px 0px 1200px;
}

article {
    background-color: #777777;
    margin: 25px;
    padding: 15px;
}

div.product {
    background-color: #cccccc;
    border-radius: 15px;
    width: 12vw;
    padding: 25px;
    display: inline-block;
}

img#product-image01 {
    margin-left: 25%;
    width: 75px;
}

img#product-image02, img#product-image03 {
    margin-left: 10%;
    width: 165px;
}

img#product-image04 {
    margin-left: 18%;
    width: 117px;
}

img#product-image05, img#product-image06 {
    margin-left: 5%;
    width: 170px;
}

button.product-buy-button {
    background: linear-gradient(90deg, #777777, #9c9b9b, #ababab);
    border-radius: 5px;
    border: 3px solid black;
    padding: 5px;
    display: block;
}

div.button {
    margin: 15px;
    text-align: center;
}

button#more {
    text-align: center;
    background: linear-gradient(270deg, #afafaf, #9c9c9c);
    border-radius: 7px;
    border: 2px solid #494949;
    padding: 15px;
}

footer.footer-page {
    background-color: #dfdfdf;
    text-align: center;
    padding: 25px;
}
